*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#EEE;
font-family: "Roboto", sans-serif;
font-weight: 100;
font-style: normal;
}
.container{
    background-color: rgb(187, 224, 229);
    max-width: 1000px;
    margin: 0 auto;
}
.me{
    width:100;
    height:120px ;
    border-radius: 50%;
    padding: 25px;
    float: left;
}
.header-bio{
    float: left;
    padding:20px;
}
h1,h2,h3,h4,h5,h6{
    color: teal;
}
.header-contact{
    float: right;
    padding: 30px;
}
.header-contact a{
text-decoration: none;
color: teal;
font-weight: bold;
}
.header-contact a:hover{
text-decoration: underline;
color: tomato;
}
.div-clear{
    clear:both;
}
hr{
    border: 3px solid black;
    margin: auto;
    border-bottom: none;
}
/* personal-section start */
#personal-section{

}
.content{
margin-bottom: 30px;

}
.left-div{
width: 30%;
float: left;
margin-left: 5px;
}
.right-div{
width: 70%;
float: right;

}
.common-hr{
    border: solid black 1px;
    border-bottom:none;
    margin: 20px auto;
    width: 100%;
}
/* education-section */
.education-Left{
float: left;
width: 45%;
}
education-right{
    float: right;
    width: 45%;
}
/* footer start*/
.bottom-container{
    background-color: black;
    text-align: center;
    padding: 10px;
    color:#EEE
}
.bottom-container a{
    color:white;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px;
}